.sidebar_chats{
    
   
    flex:1;
    flex-direction: column;
    background-color:white;
       overflow: scroll;
}
.sidebar_chat{
    display: flex;
    padding:20px;
    cursor:pointer;
    border-radius: 8px solid #f6f6f6;

}
 .sidebar_chat:hover{
     background-color: #ece5e5;
 }

.sidebarchat_info{
    margin-left: 15px;
}